@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Proyecto CRUD Personas C#</h1>
    <p class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Personas" asp-action="Index" style="color: #4CAF50; text-decoration: underline;">Ir a CRUD Personas</a>
    </p>
</div>
